# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles
/media/pdfs/*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Testes
.pytest_cache/
.coverage
htmlcov/

# Dados locais
data/db.sqlite3
data/backups/*

# Environment
.env.local
.env.production
